@import "../../styles/variables.scss";

.SidePanel {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1em;
  justify-self: center;

  .Shipping {
    display: flex;
    justify-content: space-between;
    width: 100%;
    float: right;
    padding: 3%;
    border: solid 1px $lightgray;
    background-color: $F5;
    margin-bottom: 15px;

    span{
      cursor: default;
    }
  }

  .Totals {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: right;
    border: solid 1px $lightgray;
    background-color: $lavender;

    p {
      text-align: left;
      padding: 3%;
      border-bottom: solid 1px $lightgray;
      background-color: $F5;
      cursor: default;
    }
    & > div.Box {
      padding: 3%;

      background-color: $lavender;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;

      span{
        cursor: default;
        
          font-weight: 500;
          font-size: 1.125em;
        
      }

      div {
        width: 100%;
      }
    }

    .BorderAbove {
      border-top: solid 1px $lightgray
    }
  }
}

@media screen and (min-width: 500px) {
  .SidePanel {
    width: 50%;
  }
}

@media screen and (min-width: 950px) {
  .SidePanel {
    width: 25%;
    float: left;
    .Shipping,
    .Totals {
      float: right;
      width: 90%;
    }
  }
}
