@import "../../styles/variables.scss";

.mainBox {
  border: solid 1px $lightgray;
  margin-bottom: 25px;
  width: 100%;
  overflow-x: auto;
}

.List {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-bottom: 25px;

  header {
    width: 93%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    padding: 35px 0px 20px 0px;

    div.grow {
      flex-grow: 1;
      flex-basis: 150px;
      flex-shrink: 0;
    }
    p {
      width: 150px;
      text-align: right;
      font-weight: bold;
      color: #777;
      margin-top: 5px;
      padding-bottom: 4px;
    }
    .X {
      width: 25px;
      height: 25px;
    }
  }
  
}

footer {
  padding: 15px 10px 35px 0px;

  width: 93%;
  margin: 0 auto;
  display: flex;

  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .List {
    flex-direction: column;

    header {
      flex-direction: row;
      border-bottom: solid 1px $dimgray;

      p {
        margin-top: 0px;
        text-align: left;
        padding-bottom: 0px;
        

      }
    }

    
  }
  footer {
    border-top: solid 1px $dimgray;
    align-items: inherit;
  }
}

@media screen and (min-width: 950px) {
  .mainBox {
    width: 75%;
    float: left;
  }
}
