@import "../../styles/variables.scss";

.Product {
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    .X {
      width: 25px;
      height: 25px;
      align-self: center;
      cursor: pointer;
    }
    .Headset {
      flex-grow: 1;
      height: 200px;
      width: auto;
    }
    p,
    .Qty {
      width: 150px;
      text-align: left;
      font-weight: normal;
      color: $gray;
      align-self: center;
      margin-top: 5px;
      cursor: default;
    }
  }

  @media screen and (min-width: 600px) {
    .Product {
        flex-direction: row;
        p,
        .Qty {
          margin-top: 0px;
          text-align: left;
        }
      }
  }